<html>

<head>
    <link rel="stylesheet" href="/css/Main.css">
    <link href="https://fonts.googleapis.com/css?family=Caveat|Mirza|Hi+Melody" rel="stylesheet">
</head>

<body>
    <div id="container">
        <% include ./nav.ejs %>
            <div class="info_banner">
                <p class="banner_font">사이트 소개</p>
            </div>
            <div class="info_text">
                <p>Hair#은 멋있게 머리를 자르고 싶지만,</p>
                <p>요즘 유행에 둔감한 사람들을 위한 사이트입니다.</p>
                <br/>
                <p>사이트의 주요 기능은 총 세 가지 입니다.</p>
                <br/>
                <p>첫 째, 현재 우리나라에서 유행하는 남자 헤어스타일과 여자헤어스타일의 리스트를</p>
                <p>순서대로 나열해줍니다.</p>
                <br/>
                <p>둘 째, 현재 나의 위치를 입력하여 가장 가까운 미용실을 찾아줍니다.</p>
                <br/>
                <p>셋 째, 유튜브의 인기있는 헤어스타일 동영상들을 나열해줍니다.</p>
            </div>
    </div>
    <% include ./footer.ejs %>
</body>

</html>