<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/Main.css">
    <link href="https://fonts.googleapis.com/css?family=Caveat|Mirza|Hi+Melody" rel="stylesheet">
    <title>Hair#</title>
</head>

<body>
    <div id="body">
        <% include ./nav.ejs %>
            <div id="main_image"></div>
            <div>
                <p class="best_hairstyle">Man's Best Hairstyle</p>
            </div>
            <div class="wrapper">
                <div class="frame">
                    <div class="img-wrapper img1">
                        <img src="/image/hair/mans/댄디컷(애쉬브라운).jpg">
                        <div class="darkness"></div>
                        <div class="hair_name">
                            <span draggable="false">Dandy Cut</span>
                        </div>
                    </div>
                    <div class="img-wrapper img2">
                        <img src="/image/hair/mans/소프트 투블럭 댄디컷(불륨펌).jpg">
                        <div class="darkness"></div>
                        <div class="hair_name">
                            <span draggable="false">shadow form</span>
                        </div>
                    </div>
                    <div class="img-wrapper img3">
                        <img src="/image/hair/mans/리젠트컷.jpg">
                        <div class="darkness"></div>
                        <div class="hair_name">
                            <span draggable="false">lezent cut</span>
                        </div>
                    </div>
                    <div class="img-wrapper img4">
                        <img src="/image/hair/mans/스왈로펌.jpg">
                        <div class="darkness"></div>
                        <div class="hair_name">
                            <span draggable="false">wolf cut</span>
                        </div>
                    </div>
                </div>
                <div class="more"><a href="/man_hair">more</a></div>
            </div>
            <div>
                <p class="best_hairstyle">Woman's Best Hairstyle</p>
            </div>
            <div class="wrapper">
                <div class="frame">
                    <div class="img-wrapper img1">
                        <img src="/image/hair/womans/여자숏컷(혜리).jpg">
                        <div class="darkness"></div>
                        <div class="hair_name">
                            <span draggable="false">Dandy Cut</span>
                        </div>
                    </div>
                    <div class="img-wrapper img2">
                        <img src="/image/hair/womans/애쉬그레이(숏컷).jpg">
                        <div class="darkness"></div>
                        <div class="hair_name">
                            <span draggable="false">shadow form</span>
                        </div>
                    </div>
                    <div class="img-wrapper img3">
                        <img src="/image/hair/womans/처피뱅.jpg">
                        <div class="darkness"></div>
                        <div class="hair_name">
                            <span draggable="false">lezent cut</span>
                        </div>
                    </div>
                    <div class="img-wrapper img4">
                        <img src="/image/hair/womans/s컬.jpg">
                        <div class="darkness"></div>
                        <div class="hair_name">
                            <span draggable="false">wolf cut</span>
                        </div>
                    </div>
                </div>
                <div class="more"><a href="/woman_hair">more</a></div>
            </div>
    </div>
    <% include ./footer.ejs %>
</body>

</html>