<html>

<head>
    <link rel="stylesheet" href="/css/Main.css">
    <link href="https://fonts.googleapis.com/css?family=Caveat|Mirza|Hi+Melody" rel="stylesheet">
</head>

<body>
    <div id="container">
        <% include ./nav.ejs %>
            <div class="info_banner">
                <p class="banner_font">남성 헤어스타일 메뉴</p>
            </div>
            <div class="sub_container">
                <div class="sub_frame">
                    <div class="image_frame">
                        <img src="/image/hair/mans/댄디컷(애쉬브라운).jpg">
                        <p class="hair_maintext">댄디컷</p>
                        <p class="hair_subtext">단정한 이쁨!</p>
                    </div>
                    <div class="image_frame">
                        <img src="/image/hair/mans/리젠트컷.jpg">
                        <p class="hair_maintext">리젠트컷</p>
                        <p class="hair_subtext">흐트러진 것 같지만 멋있는!</p>
                    </div>
                    <div class="image_frame">
                        <img src="/image/hair/mans/소프트 투블럭 댄디컷(불륨펌).jpg">
                        <p class="hair_maintext">소프트 투블럭 댄디컷</p>
                        <p class="hair_subtext">단정한 멋있음!</p>
                    </div>
                    <div class="image_frame">
                        <img src="/image/hair/mans/쉐도우펌.jpg">
                        <p class="hair_maintext">쉐도우펌</p>
                        <p class="hair_subtext">앞머리가 매력있는!</p>
                    </div>
                    <div class="image_frame">
                        <img src="/image/hair/mans/스왈로펌.jpg">
                        <p class="hair_maintext">스왈로펌</p>
                        <p class="hair_subtext">갈라진 머리가 멋있는!</p>
                    </div>
                    <div class="image_frame">
                        <img src="/image/hair/mans/올백.jpg">
                        <p class="hair_maintext">올백머리</p>
                        <p class="hair_subtext">넘치는 남자다움!</p>
                    </div>
                </div>
            </div>
    </div>
    <% include ./footer.ejs %>
</body>

</html>