<html>

<body>
    <div id="logo">
        <a href="/"><img src="/image/main/logo.jpg"></a>
    </div>
    <nav id="primary_nav_wrap">
        <ul>
            <li><a href="#">사이트 정보</a>
                <ul>
                    <li><a href="/info_site">사이트 소개</a></li>
                    <li><a href="/info_team">팀 소개</a></li>
                </ul>
            </li>
            <li><a href="/Man_hair">남성 헤어스타일</a></li>
            <li><a href="/Woman_hair">여성 헤어스타일</a></li>
            <li><a href="/search">미용실 찾기</a></li>
            <li><a href="#">More</a>
                <ul>
                    <li><a href="man_youtube">뷰티 유튜버(남)</a></li>
                    <li><a href="woman_youtube">뷰티 유튜버(여)</a></li>
                </ul>
            </li>
    </nav>
</body>

</html>