<html>

<head>
    <link rel="stylesheet" href="/css/Main.css">
    <link href="https://fonts.googleapis.com/css?family=Caveat|Mirza|Hi+Melody" rel="stylesheet">
</head>

<body>
    <div id="container">
        <% include ./nav.ejs %>
            <div class="info_banner">
                <p class="banner_font">여성 헤어스타일 메뉴</p>
            </div>
            <div class="sub_container">
                <div class="sub_frame">
                    <div class="image_frame">
                        <img src="/image/hair/womans/단발_레드와인.jpg">
                        <p class="hair_maintext">단발(레드 와인)</p>
                        <p class="hair_subtext">강렬한 레드!</p>
                    </div>
                    <div class="image_frame">
                        <img src="/image/hair/womans/애쉬그레이(숏컷).jpg">
                        <p class="hair_maintext">단발(애쉬그레이)</p>
                        <p class="hair_subtext">영롱!</p>
                    </div>
                    <div class="image_frame">
                        <img src="/image/hair/womans/처피뱅.jpg">
                        <p class="hair_maintext">처피뱅</p>
                        <p class="hair_subtext">단정한 앞머리!</p>
                    </div>
                    <div class="image_frame">
                        <img src="/image/hair/womans/포니테일.jpg">
                        <p class="hair_maintext">포니테일</p>
                        <p class="hair_subtext">클래식한 아름다움!</p>
                    </div>
                    <div class="image_frame">
                        <img src="/image/hair/womans/히메컷.jpg">
                        <p class="hair_maintext">히메컷</p>
                        <p class="hair_subtext">일본에서 유행한 머리!</p>
                    </div>
                    <div class="image_frame">
                        <img src="/image/hair/womans/S컬.jpg">
                        <p class="hair_maintext">S컬</p>
                        <p class="hair_subtext">여신머리!</p>
                    </div>
                </div>
            </div>
    </div>
    <% include ./footer.ejs %>
</body>

</html>